img{
    height:3vh;
    width:3vh;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    grid-area:1/2/2/3;
    display: flex;
    flex-direction: column;
    gap:5vh;
}

.header > .top{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
}

.searchbar{
    grid-area: 1/1/2/2;
    display: flex; 
    justify-content: center;
    gap:1vh;
}

#bar{
    width:70vh;
    border-radius: 4vh;
    background-color: lightgray;
}

.header > .top > .right{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-evenly;
    font-size:2vh
}

.header > .bottom{
    display: flex;
    justify-content: space-between;
}

.header > .bottom > .left{
    display: flex;
    gap: 5vh;
    font-size:2vh;
}

.header > .bottom > .right{
    display: flex;
    gap: 20vh;
}

.header > .bottom > .right button{
    font-weight: bold;
    color: wheat;
    font-size: 2vh;
    background-color: rgb(64, 86, 255);
    width: 10vh;
    height: 4vh;
    border-radius: 3vh;
}

.sidebar{
    grid-area: 1/1/3/2;
    background-color:  rgb(58, 76, 213);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 110vh;
}

.dash,.home,.profile,.messages,.history,.tasks,.communities,.settings,.support,.privacy{
    display: flex;
    color:white;
    font-size: 3vh;
    position: relative;
    left:3vh;
    gap:2vh;
}

.sidetitle{
    font-size: 5vh;
}

.dash-icon{
    height: 5vh;
    width: 5vh;
}

.top{
    display: flex;
   flex-direction: column;
   gap:2vh;
}

.main{
    background-color: rgb(236, 238, 240);
    grid-area:2/2/3/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.Projects{
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    gap:4vh;
}

.Projects > .caption{
    font-size: 4vh;
    font-weight: bold;
}

.Projects > .list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:3vh;
}

.Projects > .list > .project{
    background-color: white;
    height:20vh;
    width:30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 5vh;
    border-style: groove;
    border-color: chocolate;
    border-width: 1vh;
}

.Projects > .list > .project > .title{
    font-size: 3vh;
    font-weight: bold;
}

.Announcements{
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    gap:4vh;
    align-items: center;
    justify-content: center;
}

.Announcements > .caption{
    font-size: 4vh;
    font-weight: bold;
    align-items: flex-start;
}

.Announcements >.announcements{
    display: flex;
    flex-direction: column;
    gap:2vh;
    background-color: white;
}

.Announcements > .announcements > .content{
    border-color: chocolate;
    border-style: groove;
}

.Announcements > .announcements > .content > .title{
    font-size: 3vh;
    font-weight: bold;
}

.Trending{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    gap:3vh;
}

.Trending > .caption{
    font-size: 4vh;
    font-weight: bold;
}

.Trending > .trending{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:3vh;
}


.Trending > .trending > .content{
    display: flex;    
    border-style: groove;
    border-color: chocolate;
}

.Trending > .trending > .content > .text > .username{
    font-size: 3vh;
}

.subtext{
    font-size: 2vh;
}